
h4{
    font-size:25px;
}

.btn-success:hover{
background-color: rgb(101, 204, 245);
}

canvas{
  animation-name: animation;
  animation-duration:3s ;
  animation-iteration-count: infinite;  
}

@keyframes animation{
    from{
        box-shadow: 1px 1px 38px rgb(0, 132, 255);

    }
    to{
        box-shadow: 1px 1px 38px rgb(76, 0, 255);
  
    }
    
}